.\#*
*~
.dir-locals.el
*.aux
*.log
*.pdf
*.glob
*.v.d
Makefile.coq
*.vo
*.nav
*.out
*.snm
*.toc
*.bbl
*.blg
*.synctex.gz*

.cask/

typecheck
learn-sml/io
learn-sml/regexp
main-image*
main
*.x86-linux
*.s
*.o
*.asm
.cm
*.cmi
*.cmo
*.grm.*
*.lex.*
*.model
*.lisp
*.smt2