.\#*
*~
.dir-locals.el
*.aux
*.log
*.pdf
*.glob
*.v.d
Makefile.coq
*.vo
*.nav
*.out
*.snm
*.toc
*.bbl
*.blg
*.synctex.gz*
*.cmi
*.cmo
impl/typecheck
impl/learn-sml/io
impl/learn-sml/regexp
*.x86-linux
*.s
*.o
impl/main
*.asm
.cm